{% extends "booking/base.html" %}

{% block content %}
<body>
    
    <table>
        <thead>
            <tr>
                <th></th>
                <th>5:00 PM</th>
                <th>5:30 PM</th>
                <th>6:00 PM</th>
                <th>6:30 PM</th>
                <th>7:00 PM</th>
                <th>7:30 PM</th>
                <th>8:00 PM</th>
                <th>8:30 PM</th>
                <th>9:00 PM</th>
                <th>9:30 PM</th>
                <th>10:00 PM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Monday</th>
                <td class="booking-cell" data-day="Monday" data-time="5:00 PM">
                    {% if user.is_authenticated %}
                        <form action="{% url 'booking:book_slot' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="day" value="Monday">
                            <input type="hidden" name="time" value="5:00 PM">
                            <button type="submit">Book</button>
                        </form>
                    {% else %}
                        <span>Please log in to book</span>
                    {% endif %}
                </td>
                <!-- Add similar cells for other time slots -->
            </tr>
            <!-- Add similar rows for other days -->
        </tbody>
    </table>
    <script>
        
    </script>
</body>
{% endblock %}